<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="MMABooksConnectionString" connectionString="Data Source=BIGCOM\SQLINSTALL; Initial Catalog=MMABOOKS; Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="AddingRecords.Properties.Settings.MMABOOKSConnectionString"
      connectionString="Data Source=BIGCOM\SQLINSTALL;Initial Catalog=MMABOOKS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>